.Flowers__About {
  @include formating;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__Paragraf {
    article {
      text-indent: 3rem;
      text-align: justify;

      ol {
        text-indent: 0;
        padding-left: 3rem;
      }
    }
  }
}
