.Flowers__About {
  @include formating;

  &__Paragraf {
    margin-top: 1rem;

    article {
      margin: 0.5rem 0;
      text-indent: 3rem;
      text-align: justify;

      ol {
        text-indent: 0;
        padding-left: 3rem;
      }
    }
  }
}
