@keyframes mainPafe_img_transition {
  from {
    transform: scale(1.3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#flower-Background {
  animation: mainPafe_img_transition 0.657s cubic-bezier(0.15, 0.8, 0.43, 1.01);
  background: url("./img/lavender-field.jpeg") center;
  background-size: cover;
  border-radius: 4rem;
  display: grid;
  height: 30rem;
  margin: 2.75rem 2rem;
  overflow: hidden;
  place-items: center;
  text-align: center;

  div {
    color: lighten($Text__color--White, 70);
    font-weight: 700;

    h1 {
      font-size: 2.75rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }
}

.intro {
  color: $Text__color--White;
  font-size: 1.25rem;
  padding: 1rem 3rem;
  text-align: center;

  h2 {
    font-size: 2.75rem;
    font-weight: 700;
  }
}
