:root {
  --friend-Container-BC: #5a575746;
}

.friend-Container {
  aspect-ratio: 1 / 1.5;
  background-color: var(--friend-Container-BC);
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-template-rows: 3fr repeat(2, 1fr);
  margin: 1.5rem;
  padding: 2rem;
  place-items: center;
  width: 20rem;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
